
@using Mentor.BE
@model AddJob.BE.AddJobBE
@{
    ViewBag.Title = "JobDetails";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

@*<h2>JobDetails</h2>*@


@*<h2>EditJob</h2>*@
<link href="~/Content/Mycss/togglebtn.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="javascript:void(0);" id="toggle_btn">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>
                <div class="container">
                    <div class="card card-body">
                        <h2>Job Details</h2>
                        <button id="reffer" class="btn btn-outline-primary">Reffer Me</button>
                        <br />
                        <div class="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span id="jobid" style="display:none"></span>
                                        <label for="carrr" class="form-label">Select Career Level</label>
                                        <select class="form-control" id="carrr" validation="validateDDL">
                                            <option value="0">Select Career Level</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dom" class="form-label">Select Domain</label>
                                        <select class="form-control" id="dom" validation="validateDDL">
                                            <option value="0">Select Domain</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="categ" class="form-label">Select Category</label>
                                        <select class="form-control" id="categ" validation="validateDDL">
                                            <option value="0">Select Category</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sub_cat" class="form-label">Select Sub-Category</label>
                                        <select class="form-control" id="sub_cat" validation="validateDDL">
                                            <option value="0">Select Sub-Category</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="title" class="form-label">Title:</label>
                                        <input type="text" id="title" class="form-control" validation="validateTitle" />
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CompName" class="form-label">Company Name:</label>
                                        <input type="text" id="CompName" class="form-control" validation="validate" />
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="CompEmail">Enter Company Email:</label>
                                        <input class="form-control" type="email" id="CompEmail" name="email" validation="validateEmail" autocomplete="off">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="City" class="form-label">City:</label>
                                        <input type="text" id="City" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Exp" class="form-label">Experience:</label>
                                        <select class="form-control" id="Exp" validation="validateDDL">
                                            <option value="0">Select Experience</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="Date">Closing Date</label>
                                    <input class="form-control" type="date" id="Date" name="Date" validation="validateDate">
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="descrip" class="form-label">Add a Description:</label>
                                        <textarea id="descrip" class="form-control" rows="4" cols="50" validation="validate"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="container">
                                        <label class="switch">
                                            <input type="checkbox" id="myCheck" name="My_Check" onclick="myFunction()">
                                            <span class="slider round"></span>
                                        </label>

                                        <p id="text" style="display:block;font-weight: bold;">Public</p>
                                        <p id="text1" style="display:none;font-weight: bold;">Only Mentee</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit-section text-right">
                                        <a class="btn btn-primary" href="/Member/ShowProfile">Back</a>
                                        @*<button id="Job_Upd" type="submit" class="btn btn-primary" onclick="return ValidateClick()" ;>Update</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.HiddenFor(m => m.JobID)
    @Html.HiddenFor(m => m.MemberId)
    @Html.HiddenFor(m => m.MemberCareerLevel)
    @Html.HiddenFor(m => m.MemberDomain)
    @Html.HiddenFor(m => m.Category)
    @Html.HiddenFor(m => m.SubCategory)
    @Html.HiddenFor(m => m.Title)
    @Html.HiddenFor(m => m.Company)
    @Html.HiddenFor(m => m.ComEmail)
    @Html.HiddenFor(m => m.City)
    @Html.HiddenFor(m => m.RequiredExperience)
    @Html.HiddenFor(m => m.JobKPIS)
    @Html.HiddenFor(m => m.AppClosingDate)
    @Html.HiddenFor(m => m.IsPublic)

</div>
<script src="~/Scripts/MyJS/reffermebutton.js"></script>
<script src="~/Scripts/My_JS/jobvalidation.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function myFunction() {
        // Get the checkbox
        var CheckValue;
        var checkBox = document.getElementById("myCheck");
        // Get the output text
        var text = document.getElementById("text");
        var text1 = document.getElementById("text1");
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text1.style.display = "block";
            text.style.display = "none";
            CheckValue = 1;

        } else {
            text.style.display = "block";
            text1.style.display = "none";
            CheckValue = 0;
        }
    }

    $(document).ready(function () {
        $('#targetDiv').children().attr('disabled', 'disabled');
        $("#CompEmail").val($("#ComEmail").val());
        $("#CompName").val($("#Company").val());
        $("#title").val($("#Title").val());
        $("#City").val($("#Company").val());
        $("#Date").val($("#AppClosingDate").val());
        $("#descrip").val($("#JobKPIS").val());
        $("#jobid").val($("#JobID").val());
        $("#myCheck").val($("#IsPublic").val());



            $.ajax({
                url: '@Url.Action("GetMeCareerList", "Member")',
                type: 'POST',
                dataType: 'json',

                success: function (data) {

                    $(data).each(function (Value, Text) {


                        $('#carrr').append("<option value=" + Text.Value + ">" + Text.Text + "</option>");
                    });
                    $("#carrr").val($("#MemberCareerLevel").val());
                    $("#carrr").trigger("change");
                }
            });


            $('#carrr').on('change', function () {

                $.ajax({
                url: '@Url.Action("GetMeDomainList", "Member")',
                type: 'POST',
                    dataType: 'json',

                    data: { CurrentCareerLevelId: $('#carrr').val() },
                    success: function (data) {
                        $('#dom').html('').append('<option value="0">Select Domain</option>');
                        $('#categ').html('').append('<option value="0">Select Category</option>');
                        $('#sub_cat').html('').append('<option value="0">Select Sub-Category</option>');

                    $(data).each(function (Value, Text) {

                        $('#dom').append("<option value=" + Text.Value + ">" + Text.Text + "</option>");
                    });
                        $("#dom").val($("#MemberDomain").val());
                        $("#dom").trigger("change");
                }
            });
            });


            $('#dom').on('change', function () {
                $.ajax({
                url: '@Url.Action("GetMeCategoryList", "Member")',
                    type: 'POST',

                    dataType: 'json',

                    data: { CurrentDomainId: $('#dom').val() },
                    success: function (data) {
                        $('#categ').html('').append('<option value="0">Select Category</option>');
                        $('#sub_cat').html('').append('<option value="0">Select Sub-Category</option>');
                    $(data).each(function (Value, Text) {

                        $('#categ').append("<option value=" + Text.Value + ">" + Text.Text + "</option>");
                    });
                        $("#categ").val($("#Category").val());
                        $("#categ").trigger("change");
                }
            });
            });

             $('#categ').on('change', function () {
                $.ajax({
                url: '@Url.Action("GetMeSubCategoryList", "Member")',
                    type: 'POST',

                    dataType: 'json',

                    data: { CurrentCategoryId: $('#categ').val() },
                    success: function (data) {
                        $('#sub_cat').html('').append('<option value="0">Select Sub-Category</option>');
                    $(data).each(function (Value, Text) {
                        $('#sub_cat').append("<option value=" + Text.Value + ">" + Text.Text + "</option>");
                        });
                        $("#sub_cat").val($("#SubCategory").val());
                        $("#sub_cat").trigger("change");
                }
            });
            });

          /*  $('#loadmore').on('click', function () {

                $('#listcontainer').empty();
            });*/
        });

     $.ajax({
                url: '@Url.Action("GetSelectedExpLists","Job")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    $(data).each(function (Value, Text) {


                        $('#Exp').append("<option value=" + Text.Value + ">" + Text.Text + "</option>");
                    });
                    $("#Exp").val($("#RequiredExperience").val());
                    $("#Exp").trigger("change");
                }
            });

    $("#Job_Upd").click(function () {
        debugger
        var jobid = $('#jobid').val();
        var career = $('#carrr').val();
        var domain = $("#dom").val();
        var category = $("#categ").val();
        var sub_c = $('#sub_cat').val();
        var title = $('#title').val();
        var comp = $('#CompName').val();
        var comEmail = $('#CompEmail').val();
        var City = $('#City').val();
        var exp = $('#Exp').val();
        var date = $('#Date').val();
        var desc = $('#descrip').val();
        var CheckValue;
        var check = document.getElementById("myCheck");
        if (check.checked == true) { CheckValue = 1; }
        else if (check.checked == false) { CheckValue = 0; }
        debugger;
        $.ajax('/Job/Update_Job' , {
            type: 'POST',  // http method
            data: {
                jobID: jobid,
                memberID: "19",
                car: career,
                dom: domain,
                cat: category,
                subC: sub_c,
                Title: title,
                Comp: comp,
                city: City,
                Exp: exp,
                Date: date,
                Desc: desc,
                C_Email: comEmail,
                Is_Pub: CheckValue
            },  // data to submit

            success: function (data) {
                debugger
                alert('done');
            },
            error: function (data) {

                alert(data);
            }
        });

    });
    $("#reffer").click(function () {
        debugger
        var jobid = $('#jobid').val();              
             
        debugger;
        $.ajax('/JobReffer/RefferJob', {
        type: 'POST',  // http method
            data: {
            
            jobID: jobid,
            memberID: "19",
            ViewerID: "22",
            StatusID: "3"
           
        },  // data to submit

        success: function (data) {
            debugger
            alert('done');
        },
        error: function (data) {

            alert(data);
        }
    });

    });
</script>
